<%= notice %>
<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.button "Preview", formaction: preview_tasks_path , name: "_method" , value: "post" %>  <%# 임의로 설정한 라우트 %>
    <%# name은 key value 는 전송할 값 => 즉, _method라는 이름의 키에 대해 "post"라는 값을 전송하라는 지시 %>
    <%= form.submit %>  <%#  Rails는 제공된 model 객체의 상태에 따라 자동으로 제출 경로를 결정 %>
  </div>
<% end %>
