<%= notice %>
<%= form_with(model: task, data:{ controller: "autosubmit" , action: "input->autosubmit#submit"}) do |form| %>
<%# data: { controller: "autosubmit" }: HTML 태그에 data-controller="autosubmit" 데이터 속성을 추가 %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="preview"></div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.button "Preview / Validate", formaction: preview_tasks_path , name: "_method" , value: "post" ,
    data: { autosubmit_target: "submitbutton"}, style: "display: none;"%>  
    
      <%= form.submit %>  <%#  Rails는 제공된 model 객체의 상태에 따라 자동으로 제출 경로를 결정 %>
  </div>
<% end %>
